@{
    ViewData["Title"] = "Start Page";
}

<div class="container">
    @await Html.PartialAsync("_LoginForm")
    @await Html.PartialAsync("_RegisterForm")
</div>

@section scripts {
    <script src="~/js/LoginValidation.js"></script>
    <script src="~/js/RegisterValidation.js"></script>
}
