<h1>Logowanie</h1>

<form action="/Home/Login" method="post">
    <input id="Username" type="text" name="username" value=""/>
    <input id="Password" type="text" name="password" value=""/>
    <button id="LoginButton" type="submit">Zaloguj</button>
</form>