<h1>Rejestracja użytkownika</h1>

<form action="/Home/Register" method="post">
    <input id="Username" type="text" name="username" value="" />
    <input id="Password" type="text" name="password" value="" />
    <button id="RegisterButton" type="submit">Zarejestruj</button>
</form>